<!DOCTYPE html>
<html>
  <head>
    <title>Terjemahan Bahasa || FarhanXCode7</title>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="all"> 
    <meta name="robots schedule" content="auto"> 
    <meta name="distribution" content="global"> 
    <meta name="googlebot" content="index,follow">
    <meta property="og:image" content="https://api-xcoders.site/images/IMG-20211115-WA0004.jpg" />
    <link rel="shortcut icon"	href="https://cdn.freebiesupply.com/logos/large/2x/the-ground-round-2-logo-png-transparent.png">
    <meta property="og:title" content=" Translate Bahasa " />
    <meta name="description" content=" Powered By Farhannnnnn ">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- body %>
  </body>
  <script type="text/javascript" src="/js/main.js"></script>
</html>
